body{
   padding: 25px;
   background-color: #FFFFE0;
}
header{
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
  text-align: center;
}
#image{
  max-width: 100%;
  height: auto;
  width: 500px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#img-caption{
  text-align : center;
}


#img-div {
  margin-bottom: 40px;
}

#tribute-info{
  max-width: 100%;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
}


img{
  display : block;
  margin: auto;
}

#title{
  text-align : center;
  text-size : 35px;
}

#info-title{
  text-align :  center;
}

#tribute-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: blue;
}